* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.home {
    width: 100%;
    height: 100vh;
}
/*Mobile design*/
@media only screen and (min-width: 360px) {
.navbar {
        width: 100%;
        height: 70px;
        background-color: #d1d7ce;
        border-bottom: rgb(31, 29, 29) solid 1px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
    }

    .navbar .items {
        width: 95%;
        height: 70px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .items .name h1 a {
        font-size: 15px;
        color: yellow;
    }

    .navbar .items .name h1 span {
        color: rgb(3, 15, 77);
        font-size: 15px;
    }

    .navbar .items .name h1 img {
        width: 30px;
        height: 30px;
    }

    .navbar .items .login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        margin-top: 10px;
    }

    .navbar .items .login a {
        color: rgb(3, 15, 77);
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
    }

    /*Homepage styling*/
    .details {
        width: 100%;
        height: calc(100vh - 70px);
        padding-top: 90px;
    }

    .details .info-report {
        width: 100%;
        height: fit-content;
        border-radius: 20px;  
    }

    .details .intro {
        width: 100vw;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px 20px 0 0;
    }

    .details .intro h2 {
        color: #d2d4c0;
        text-align: center;
        padding: 10px 0;
        font-size: 40px;
    }

    .details .intro p {
        text-align: center;
        color: rgb(3, 15, 77);
        font-size: 20px;
        margin-bottom: 10px;
    }

    .details .info {
        width: 250px;
        height: 13rem;
        background-color: rgb(3, 15, 77);
        border-radius: 20px 20px 20px 20px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .details .info h3 {
        text-align: center;
        color: #d2d4c0;
        padding: 5px 0;
    }

    .details .info p {
        text-align: left;
        padding-left: 5px;
        color: #d2d4c0;
        font-size: 16px;
        line-height: 20px;
    }
   /*Note styling*/
   .details .note {
    background: rgba(255, 211, 36, 0.5);
    border: #efc10b solid 1px; 
    border-radius: 10px; padding: 5px; 
    width: 200px; 
    height: 150px; 
    margin-bottom: 10px;
    margin: 0 auto;
   }
    /*Form styling*/
    .details .form {
        width: 350px;
        height: fit-content;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }
.details .report-form {
    margin-bottom: 10px;
}
    .details .form h4 {
        text-align: center;
        padding: 10px 0 5px 0;
        color: rgb(3, 15, 77);
    }

    .details .form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .details .form select {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
    }

    .details .form textarea {
        margin: 5px 0 5px 50px;
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 100px;
        max-height: 100px;
        min-height: 100px;
    }

    .details .form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px 10px 10px 10px;
    }

    /*Signup*/
    .signupform {
        padding-top: 100px;
    }
    .signup .signup-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .signup .signup-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .signup .signup-form form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin: 0 130px 0 125px;
    }

    .signup .signup-form h4 {
        text-align: center;
    }

    .second-nav .signup-form p {
        text-align: center;
    }

    .signup .signup-form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 130px;

    }

    /*User Login*/
    .user-login .user-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .user-login .user-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .user-login .user-form form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 100px;
    }

    .user-login .user-form form h4 {
        text-align: center;
    }

    .user-login .user-form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 100px;
    }

    /*ADMIN LOGIN*/

    .login-page .login-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .login-page .login-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .login-page .login-form form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px 10px 10px 10px;
        margin-top: 5px;
    }

    .login-page .login-form form h4 {
        text-align: center;
        padding: 5px 0;
    }

    /*Dashboard*/
    .dashboard {
        display: flex;
        flex-flow: row wrap;
    }

    .sidebar {
        width: 300px;
        height: calc(100vh - 70px);
        background-color: rgb(3, 15, 77);
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
        position: fixed;
        margin-top: 70px;
    }

    .sidebar h3 {
        font-size: 30px;
        text-align: center;
        padding: 20px 0 15px 0;
        color: #d1d7ce;
    }

    .sidebar h3 img {
        width: 50px;
        height: 50px;
    }

    .sidebar .links {
        width: 100%;
        height: 88.6%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    .sidebar .links a {
        color: #d1d7ce;
        line-height: 50px;
    }

    .sidebar .links #dashboard img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #new img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #resolved img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #unresolved img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #message img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #password img {
        width: 20px;
        height: 20px;
    }

    .contents {
        width: calc(100% - 300px);
        height: 100%;
        margin-left: 300px;
        margin-top: 70px;
    }

    .second-nav {
        background-color: antiquewhite;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }

    .second-nav h4 {
        font-size: 25px;
    }

    .second-nav input {
        width: 200px;
        height: 40px;
    }

    .second-nav img {
        width: 50px;

    }

    .cases {
        width: 65%;
        height: 200px;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .cases .total-cases {
        width: 150px;
        height: 150px;
        background-color: #ffbcf8;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .new-cases {
        width: 150px;
        height: 150px;
        background-color: #7297bc;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .resolved-cases {
        width: 150px;
        height: 150px;
        background-color: #f5e380;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .unresolved-cases {
        width: 150px;
        height: 150px;
        background-color: #82d9f4;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .nums {
        color: white;
        padding: 30px 0 10px 0;
        font-size: 40px;
    }

    .cases .case {
        color: rgb(3, 15, 77);
    }

    .table {
        width: 70%;
        height: fit-content;
        border-radius: 20px 20px 20px 20px;
        background: #d1d7ce;
        margin: 0 auto;
        padding: 10px;
    }

    .table .headers {
        display: flex;
        justify-content: space-between;
    }

    .table #data {
        display: flex;
        justify-content: space-between;
    }

    .table {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        width: 70%;
        height: fit-content;
        background: #d1d7ce;
        margin: 0 auto;
        padding: 10px;
    }

    #data {
        display: flex;
        width: 100%;
    }

    .cell {
        flex: 1;


    }

    /*Report*/
    .report-nav {
        width: 71rem;
        background-color: white;
        height: 70px;
        margin: 0 auto;
        border-radius: 0 0 30px 30px;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.829);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1000;
    }

    .report {
        background-color: #ebecea;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 500;
    }

    .reports {
        background-color: white;
        height: calc(100vh - 70px);
        margin: 0 auto;
        width: 71rem;
    }

    .reports button {
        border: 0;
        background: #1b7c0c;
        width: 100px;
        height: 30px;
        border-radius: 10px 10px;
        color: white;
        margin-top: 10px;
        cursor: pointer;
    }

    .monthly-report h4 {
        font-size: 40px;
        padding: 30px;
        color: rgb(3, 15, 77);
    }

    .monthly-report {
        width: 100%;
        height: fit-content;
    }

    .monthly-report table {
        width: 70%;
        padding: 10px 10px 10px 10px;
        margin: 0 auto;
    }

    .monthly-report table tr:nth-child(odd) {
        background-color: #dcdcdc;
    }

    .monthly-report table tr:nth-child(even) {
        background-color: #efc1c1;
    }

    .monthly-report table td {
        color: rgb(12, 19, 51);
    }

    /*VIEWS*/
    .v-c {
        width: 100%;
        height: 100vh;
        background: #ebecea;
    }

    .nav-view {
        width: 71rem;
        height: 70px;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.829);
        background: white;
    }

    .nav-view h1 {
        color: rgb(3, 15, 77);
        text-align: center;
        padding-top: 15px;
    }

    .crimes {
        width: 71rem;
        height: calc(100vh - 82px);
        background: white;
        margin: 0 auto;
        margin-top: 12px;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;

    }

    .crimes article {
        width: 66rem;
        height: 266px;
        background: #ebecea;
        display: flex;
        border-radius: 15px;
        padding: 10px;
        margin: 0 auto;
    }

    .crimes article .date {
        background: rgb(3, 15, 77);
        width: 100px;
        height: 90px;
        border-radius: 10px 10px 10px 10px;
    }

    .crimes article .date p {
        padding: 15px 0 5px 32px;
        color: white;
        font-size: 30px;
    }

    .crimes article .date span {
        padding: 15px 0 0 25px;
        color: white;
        font-size: 15px;
    }

    .crimes article img {
        width: 250px;
        padding: 5px 7px;
    }

    .crimes article div h4 {
        font-size: 20px;
        color: rgb(3, 15, 77);
        padding-bottom: 10px;
    }

    .crimes article div .response a {
        padding: 10px 5px 10px 5px;
    }

    .crimes article div input {
        border: 0;
        height: 30px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 20px;
    }

    .crimes article div button {
        border: 0;
        background: rgb(3, 15, 77);
        width: 50px;
        height: 20px;
        border-radius: 5px;
        margin-left: 15px;
        cursor: pointer;
    }
}
/*Ipad Design*/
@media only screen and (min-width: 600px) {
    .navbar {
        width: 100%;
        height: 70px;
        background-color: #d1d7ce;
        border-bottom: rgb(31, 29, 29) solid 1px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
    }

    .navbar .items {
        width: 95%;
        height: 70px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .items .name h1 a {
        font-size: 21px;
        color: yellow;
    }

    .navbar .items .name h1 span {
        color: rgb(3, 15, 77);
        font-size: 21px;
    }

    .navbar .items .name h1 img {
        width: 30px;
        height: 30px;
    }

    .navbar .items .login {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        margin-top: 10px;
    }

    .navbar .items .login a {
        color: rgb(3, 15, 77);
        text-decoration: none;
        font-weight: 600;
        font-size: 17px;
    }

    /*Homepage styling*/
    .details {
        width: 100%;
        height: calc(100vh - 70px);
        padding-top: 90px;
    }

    .details .info-report {
        width: 100%;
        height: fit-content;
        border-radius: 20px;
        display: flex;
    }

    .details .intro {
        width: 100vw;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px 20px 0 0;
    }

    .details .intro h2 {
        color: #d2d4c0;
        text-align: center;
        padding: 10px 0;
        font-size: 40px;
    }

    .details .intro p {
        text-align: center;
        color: rgb(3, 15, 77);
        font-size: 20px;
        margin-bottom: 10px;
    }

    .details .info {
        width: 250px;
        height: 13rem;
        background-color: rgb(3, 15, 77);
        border-radius: 20px 20px 20px 20px;
        margin: 0 5px;
    }

    .details .info h3 {
        text-align: center;
        color: #d2d4c0;
        padding: 5px 0;
    }

    .details .info p {
        text-align: left;
        padding-left: 5px;
        color: #d2d4c0;
        font-size: 16px;
        line-height: 20px;
    }

    /*Note styling*/
    .details .note {
        background: rgba(255, 211, 36, 0.5);
        border: #efc10b solid 1px;
        border-radius: 10px;
        padding: 5px;
        width: 200px;
        height: 150px;
        margin: 0 5px;
    }

    /*Form styling*/
    .details .form {
        width: 350px;
        height: fit-content;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 5px;
    }



    .details .form h4 {
        text-align: center;
        padding: 10px 0 5px 0;
        color: rgb(3, 15, 77);
    }

    .details .form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .details .form select {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
    }

    .details .form textarea {
        margin: 5px 0 5px 50px;
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 100px;
        max-height: 100px;
        min-height: 100px;
    }

    .details .form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px 10px 10px 10px;
    }

    /*Signup*/
    .signupform {
        padding-top: 100px;
    }

    .signup .signup-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .signup .signup-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .signup .signup-form form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin: 0 130px 0 125px;
    }

    .signup .signup-form h4 {
        text-align: center;
    }

    .second-nav .signup-form p {
        text-align: center;
    }

    .signup .signup-form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 130px;

    }

    /*User Login*/
    .user-login .user-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .user-login .user-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .user-login .user-form form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 100px;
    }

    .user-login .user-form form h4 {
        text-align: center;
    }

    .user-login .user-form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 100px;
    }

    /*ADMIN LOGIN*/

    .login-page .login-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .login-page .login-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .login-page .login-form form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px 10px 10px 10px;
        margin-top: 5px;
    }

    .login-page .login-form form h4 {
        text-align: center;
        padding: 5px 0;
    }

    /*Dashboard*/
    .dashboard {
        display: flex;
        flex-flow: row wrap;
    }

    .sidebar {
        width: 300px;
        height: calc(100vh - 70px);
        background-color: rgb(3, 15, 77);
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
        position: fixed;
        margin-top: 70px;
    }

    .sidebar h3 {
        font-size: 30px;
        text-align: center;
        padding: 20px 0 15px 0;
        color: #d1d7ce;
    }

    .sidebar h3 img {
        width: 50px;
        height: 50px;
    }

    .sidebar .links {
        width: 100%;
        height: 88.6%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    .sidebar .links a {
        color: #d1d7ce;
        line-height: 50px;
    }

    .sidebar .links #dashboard img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #new img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #resolved img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #unresolved img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #message img {
        width: 20px;
        height: 20px;
    }

    .sidebar .links #password img {
        width: 20px;
        height: 20px;
    }

    .contents {
        width: calc(100% - 300px);
        height: 100%;
        margin-left: 300px;
        margin-top: 70px;
    }

    .second-nav {
        background-color: antiquewhite;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }

    .second-nav h4 {
        font-size: 25px;
    }

    .second-nav input {
        width: 200px;
        height: 40px;
    }

    .second-nav img {
        width: 50px;

    }

    .cases {
        width: 65%;
        height: 200px;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .cases .total-cases {
        width: 150px;
        height: 150px;
        background-color: #ffbcf8;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .new-cases {
        width: 150px;
        height: 150px;
        background-color: #7297bc;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .resolved-cases {
        width: 150px;
        height: 150px;
        background-color: #f5e380;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .unresolved-cases {
        width: 150px;
        height: 150px;
        background-color: #82d9f4;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .nums {
        color: white;
        padding: 30px 0 10px 0;
        font-size: 40px;
    }

    .cases .case {
        color: rgb(3, 15, 77);
    }

    .table {
        width: 70%;
        height: fit-content;
        border-radius: 20px 20px 20px 20px;
        background: #d1d7ce;
        margin: 0 auto;
        padding: 10px;
    }

    .table .headers {
        display: flex;
        justify-content: space-between;
    }

    .table #data {
        display: flex;
        justify-content: space-between;
    }

    .table {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        width: 70%;
        height: fit-content;
        background: #d1d7ce;
        margin: 0 auto;
        padding: 10px;
    }

    #data {
        display: flex;
        width: 100%;
    }

    .cell {
        flex: 1;


    }

    /*Report*/
    .report-nav {
        width: 71rem;
        background-color: white;
        height: 70px;
        margin: 0 auto;
        border-radius: 0 0 30px 30px;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.829);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1000;
    }

    .report {
        background-color: #ebecea;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 500;
    }

    .reports {
        background-color: white;
        height: calc(100vh - 70px);
        margin: 0 auto;
        width: 71rem;
    }

    .reports button {
        border: 0;
        background: #1b7c0c;
        width: 100px;
        height: 30px;
        border-radius: 10px 10px;
        color: white;
        margin-top: 10px;
        cursor: pointer;
    }

    .monthly-report h4 {
        font-size: 40px;
        padding: 30px;
        color: rgb(3, 15, 77);
    }

    .monthly-report {
        width: 100%;
        height: fit-content;
    }

    .monthly-report table {
        width: 70%;
        padding: 10px 10px 10px 10px;
        margin: 0 auto;
    }

    .monthly-report table tr:nth-child(odd) {
        background-color: #dcdcdc;
    }

    .monthly-report table tr:nth-child(even) {
        background-color: #efc1c1;
    }

    .monthly-report table td {
        color: rgb(12, 19, 51);
    }

    /*VIEWS*/
    .v-c {
        width: 100%;
        height: 100vh;
        background: #ebecea;
    }

    .nav-view {
        width: 71rem;
        height: 70px;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.829);
        background: white;
    }

    .nav-view h1 {
        color: rgb(3, 15, 77);
        text-align: center;
        padding-top: 15px;
    }

    .crimes {
        width: 71rem;
        height: calc(100vh - 82px);
        background: white;
        margin: 0 auto;
        margin-top: 12px;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;

    }

    .crimes article {
        width: 66rem;
        height: 266px;
        background: #ebecea;
        display: flex;
        border-radius: 15px;
        padding: 10px;
        margin: 0 auto;
    }

    .crimes article .date {
        background: rgb(3, 15, 77);
        width: 100px;
        height: 90px;
        border-radius: 10px 10px 10px 10px;
    }

    .crimes article .date p {
        padding: 15px 0 5px 32px;
        color: white;
        font-size: 30px;
    }

    .crimes article .date span {
        padding: 15px 0 0 25px;
        color: white;
        font-size: 15px;
    }

    .crimes article img {
        width: 250px;
        padding: 5px 7px;
    }

    .crimes article div h4 {
        font-size: 20px;
        color: rgb(3, 15, 77);
        padding-bottom: 10px;
    }

    .crimes article div .response a {
        padding: 10px 5px 10px 5px;
    }

    .crimes article div input {
        border: 0;
        height: 30px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 20px;
    }

    .crimes article div button {
        border: 0;
        background: rgb(3, 15, 77);
        width: 50px;
        height: 20px;
        border-radius: 5px;
        margin-left: 15px;
        cursor: pointer;
    }
}
/*Desktop Design*/
@media only screen and (min-width: 1000px){
    /*Navbar Styling*/
    .navbar {
        width: 100%;
        height: 70px;
        background-color: #d1d7ce;
        border-bottom: rgb(31, 29, 29) solid 1px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
    }
    .navbar .items {
        width: 95%;
        height: 70px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .items .name h1 a {
        font-size: 21px;
        color: yellow;
    }
    .navbar .items .name h1 span {
        color: rgb(3, 15, 77);
    }
    .navbar .items .name h1 img {
        width: 30px;
        height: 30px;
    }
    .navbar .items .login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
    }

    .navbar .items .login a {
        color: rgb(3, 15, 77);
        text-decoration: none;
        font-weight: 600;
    } 
    /*Homepage styling*/
    .details {
        width: 100%;
        height: calc(100vh - 70px);
        padding-top: 100px;
    }
    .details .info-report {
        width: 100%;
        height: 76%;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        justify-content: center;
    }
    .details .intro {
        width: 65%;
        height: 325px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px 20px 20px 20px;
    }

    .details .intro h2 {
        color: #d2d4c0;
        text-align: center;
        padding: 10px 0;
        font-size: 40px;
    }

    .details .intro p {
        text-align: center;
        color: rgb(3, 15, 77);
        font-size: 20px;
    }

    .details .info {
        width: 250px;
        height: 13rem;
        background-color: rgb(3, 15, 77);
        border-radius: 20px 20px 20px 20px;
        margin-top: 20px;
    }
    .details .info h3 {
    text-align: center;
    color: #d2d4c0;
    padding: 5px 0;
    }
    .details .info p {
        text-align: left;
        padding-left: 5px;
        color: #d2d4c0;
        font-size: 16px;
        line-height: 20px;
    }
    /*Form styling*/
    .details .form {
    width: 350px;
    height: fit-content;
    background-color: #d2d4c0;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0 0 20px;
    }
   .details .note {
       background: rgba(255, 211, 36, 0.5);
       border: #efc10b solid 1px;
       border-radius: 10px;
       padding: 5px;
       width: 200px;
       height: 200px;
       margin-left: 5px;
   }
    .details .form h4 {
    text-align: center;
    padding: 10px 0 5px 0;
    color: rgb(3, 15, 77);
    }

    .details .form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }
    .details .form select {
            width: 250px;
                height: 27px;
                margin: 4px 0 4px 50px;
                border: 0;
                border-radius: 5px 5px 5px 5px;
                text-align: center;
    }
    .details .form textarea {
        margin: 5px 0 5px 50px;
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 100px;
        max-height: 100px;
        min-height: 100px;
    }

    .details .form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px 10px 10px 10px;
    }
    /*Signup*/
    .signup .signup-form{
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 7rem;
    }

    .signup .signup-form form input{
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .signup .signup-form form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin: 0 130px 0 125px;
    }

    .signup .signup-form h4 {
        text-align: center;
    }
    .second-nav .signup-form p {
    text-align: center;
    }
    .signup .signup-form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 130px;
    
    }
    /*User Login*/
    .user-login .user-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 7rem;   
    }

    .user-login .user-form form input{
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .user-login .user-form form button {
        width: 130px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px;
        margin-right: 100px;
    }

    .user-login .user-form form h4 {
        text-align: center;
    }

    .user-login .user-form button {
            width: 130px;
                height: 30px;
                border: 0;
                cursor: pointer;
                margin-left: 125px;
                background: rgb(3, 15, 77);
                color: white;
                border-radius: 10px;
                margin-right: 100px;
    }
    /*ADMIN LOGIN*/

    .login-page .login-form {
        width: 350px;
        height: 370px;
        background-color: #d2d4c0;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 9rem;
    }
    .login-page .login-form form input {
        width: 250px;
        height: 27px;
        margin: 4px 0 4px 50px;
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .login-page .login-form form button {
        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
        margin-left: 125px;
        background: rgb(3, 15, 77);
        color: white;
        border-radius: 10px 10px 10px 10px;
        margin-top: 5px;
    }

    .login-page .login-form form h4 {
    text-align: center;
    padding: 5px 0;
    }

    /*Dashboard*/
    .dashboard {
    display: flex;
    flex-flow: row wrap;
    }

    .sidebar {
        width: 300px;
        height: calc(100vh - 70px);
        background-color: rgb(3, 15, 77);
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
        position: fixed;
        margin-top: 70px;
    }

    .sidebar h3 {
        font-size: 30px;
        text-align: center;
        padding: 20px 0 15px 0;
            color: #d1d7ce;
    }
    .sidebar h3 img {
        width: 50px;
        height: 50px;
    }
    .sidebar .links {
        width: 100%;
        height: 88.6%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    .sidebar .links a {
    color: #d1d7ce;
    line-height: 50px;  
    }
    .sidebar .links #dashboard img {
    width: 20px;
    height: 20px;
    }
    .sidebar .links #new img {
        width: 20px;
        height: 20px;
    }
    .sidebar .links #resolved img {
        width: 20px;
        height: 20px;
    }
    .sidebar .links #unresolved img {
        width: 20px;
        height: 20px;
    }
    .sidebar .links #message img {
        width: 20px;
        height: 20px;
    }
    .sidebar .links #password img {
        width: 20px;
        height: 20px;
    }

    .contents {
        width: calc(100% - 300px);
        height: 100%;
        margin-left: 300px;
        margin-top: 70px;
    }
    .second-nav {
        background-color: antiquewhite;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }

    .second-nav h4 {
    font-size: 25px;
    }

    .second-nav input {
        width: 200px;
        height: 40px;
    }

    .second-nav img {
        width: 50px;
        
    }

    .cases {
        width: 65%;
        height: 200px;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .cases .total-cases {
        width: 150px;
        height: 150px;
        background-color: #ffbcf8;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .new-cases {
        width: 150px;
        height: 150px;
        background-color: #7297bc;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .resolved-cases {
        width: 150px;
        height: 150px;
        background-color: #f5e380;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .unresolved-cases {
        width: 150px;
        height: 150px;
        background-color: #82d9f4;
        margin: 20px 15px 0 15px;
        border-radius: 17px 17px 17px 17px;
        text-align: center;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.829);
    }

    .cases .nums {
    color: white;
    padding: 30px 0 10px 0;
    font-size: 40px;
    }

    .cases .case {
        color: rgb(3, 15, 77);
    }

    .table {
        width: 70%;
        height: fit-content;
        border-radius: 20px 20px 20px 20px;
        background: #d1d7ce;
        margin: 0 auto;
        padding: 10px;
    }

    .table .headers {
        display: flex;
        justify-content: space-between;
    }
    .table #data {
        display: flex;
        justify-content: space-between;
    }

    .table {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        width: 70%;
        height: fit-content;
        background: #d1d7ce;
        margin: 0 auto;
        padding: 10px;
    }

    #data {
        display: flex;
        width: 100%;
    }

    .cell {
        flex: 1;
        
    
    }

    /*Report*/
    .report-nav {
    width: 71rem;
    background-color: white;
    height: 70px;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.829);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000; 
    }
    .report {
        background-color: #ebecea;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 500;
    }

    .reports {
        background-color: white;
        height: calc(100vh - 70px);
        margin: 0 auto;
        width: 71rem;
    }
    .reports button {
        border: 0;
        background: #1b7c0c;
        width: 100px;
        height: 30px;
        border-radius: 10px 10px;
        color: white;
        margin-top: 10px;
        cursor: pointer;
    }
    .monthly-report h4 {
        font-size: 40px;
        padding: 30px;
        color: rgb(3, 15, 77);
    }
    .monthly-report {
        width: 100%;
        height: fit-content;
    }
    .monthly-report table {
        width: 70%;
        padding: 10px 10px 10px 10px;
        margin: 0 auto;
    }

    .monthly-report table tr:nth-child(odd) {
        background-color: #dcdcdc;
    }

    .monthly-report table tr:nth-child(even) {
        background-color: #efc1c1;
    }

    .monthly-report table td {
        color: rgb(12, 19, 51);
    }

    /*VIEWS*/
    .v-c {
        width: 100%;
        height: 100vh;
        background: #ebecea;
    }

    .nav-view {
        width: 71rem;
        height: 70px;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.829);
        background: white;
    }

    .nav-view h1 {
        color: rgb(3, 15, 77);
        text-align: center;
        padding-top: 15px;
    }

    .crimes {
        width: 71rem;
        height: calc(100vh - 82px);
        background: white;
        margin: 0 auto;
        margin-top: 12px;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        
    }

    .crimes article {
        width: 66rem;
        height: 266px;
        background: #ebecea;
        display: flex;
        border-radius: 15px;
        padding: 10px;
        margin: 0 auto;
    }

    .crimes article .date {
        background: rgb(3, 15, 77);
        width: 100px;
        height: 90px;
        border-radius: 10px 10px 10px 10px;
    }

    .crimes article .date p {
        padding: 15px 0 5px 32px;
        color: white;
        font-size: 30px;
    }

    .crimes article .date span {
    padding: 15px 0 0 25px;
    color: white;
    font-size: 15px;
    }

    .crimes article img {
        width: 250px;
        padding: 5px 7px;
    }
    .crimes article div h4 {
        font-size: 20px;
        color: rgb(3, 15, 77);
        padding-bottom: 10px;
    }

    .crimes article div .response a {
        padding: 10px 5px 10px 5px;
    }

    .crimes article div input {
    border: 0;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    } 

    .crimes article div button {
        border: 0;
        background: rgb(3, 15, 77);
        width: 50px;
        height: 20px;
        border-radius: 5px 5px 5px 5px;
        margin-left: 15px;
        cursor: pointer;
    }
}
